<div class="row">

  <div class="col-sm-5 form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="firstName">
  </div>
  <div class="col-sm-5 form-group">
    <label for="outusr">Name Value:</label>
    <output type="text" class="form-control" id="outusr">{{firstName}}</output>
  </div>
  <div class="col-sm-5 form-group">
    <label for="scnd">Second Name:</label>
    <input type="text" class="form-control" id="scnd" #SecondName>
  </div>
  <div class="col-sm-5 form-group">
    <label for="outscnd">Second Name Value:</label>
    <output type="text" class="form-control" id="outscnd">{{secondName}}</output>
  </div>
  <button type="button" class="btn btn-info"   (click)="moveSecondName()">Move</button>
</div>
